*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html{
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.nav-bar{
  background-color: rgba(23, 84, 158, 0.7);
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav-link a{
  padding: 0 20px;
  font-size: 1.1rem;
  color: white;
}
.nav-link a:hover{
  color: black;
  transition: 400ms;
}
.main{
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),url(./images/home-image.jpg);
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-content{
  text-align: center;
  font-size: 60px;
  letter-spacing: 10px;
}
.main-button{
  color: white;
  border: 3px solid rgb(38, 163, 147);
  border-radius: 10px;
  background-color: rgb(38, 163, 147);
  text-transform: uppercase;
  font-size: 20px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  letter-spacing: 4px;
  padding: 10px 50px;
}
.main-button:hover{
  transition: 300ms;
  background-color: rgba(0, 0, 0, 0.0);
  border: 3px solid white;
}
.intro{
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
}
.perks{
  display: flex;
  flex-direction: column;
}
.perks img{
  width: 200px;
  height: 200px;
}
.intro-message, .perks > div{
  margin: 3%;
}
 .cottages{
  min-height: 120vh;
  background-color: rgb(214, 214, 214);
}
.attractions{
  min-height: 100vh;
}
.cottages-navbar, .attractions-navbar{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./images/blur.png");
  background-size: cover;
  background-position: center;
  height: 25vh;
  width: auto;
  font-size: 3rem;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.attractions-navbar{
  height: 15vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url("./images/atulayan.jpg");
}
.cottages-content, .attractions-content{
  padding-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.vlogs-content{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row-reverse;
  margin-bottom: 40px;
}
.vlogs-items {
  margin: 20px 5px;
  width: 550px;
  height: 350px;
}
.vlogs-iframe{
  /* width=8 height=5 ratio multiple by 7 */
  border-radius: 8px;
  width: 490px;
  height: 280px;
}
.vlogs-items p{
  margin: 2px 10px 10px 10px;
}
.cottages-items, .attractions-items{
  margin: 10px;
}
.cottages-content img, .attractions-content img{
 height: 400px;
 width: 400px;
 box-shadow: 5px 7.5px rgb(114, 114, 114);
 margin-bottom: 10px;
}
.contact-us{
  text-align: center;
  font-size: 50px;
  color: rgb(111, 111, 111);
  margin-top: 3vh;
}
.about-us{
  height: 47vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  color: rgb(111, 111, 111);
}
.about-items{
  letter-spacing: 1.5px;
  font-size: 18px;
}
.about-items-title{
  font-size: 40px;
}
.about-items img{
  height: 50px;
  width: 50px;
}
.about-information, .contact-number a{
  font-size: 1.2rem;
  color: black;
  font-weight: 500;
}
.contact-number a{
  color: rgb(13, 13, 201);
}
.contact-number a:hover{
  text-decoration: underline;
}
footer{
  background-image: linear-gradient(rgba(0, 0, 0, 0.65),rgba(0, 0, 0, 0.65)),url("./images/footer-img.jpg");
  height: 50vh;
  background-size: cover;
  color: white;
}
.footer-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-items{
  margin: 20px 0;
}
.footer-items img{
  width: 70px;
  height: 70px;
}
.copyright{
  text-align: center;
  font-size: 10px;
}
.rt-button a img{
  height: 70px;
  width: 70px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
}
.pre-loader{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  transition: opacity 1s, visibility 1s;
}
.hidden{
  opacity: 0;
  visibility: hidden;
}
.pre-loader::after{
  content: "";
  width: 75px;
  height: 75px;
  border: 10px solid rgb(237, 237, 237);
  border-top-color: rgb(10, 221, 10);
  border-radius: 50%;
  animation: loading 1s linear infinite;
}
@keyframes loading{
  0%{
    transform: rotate(0turn);
  }
  100%{
    transform: rotate(1turn);
  }
}



  /* desktop res and above  */
  @media (min-width: 1068px) {
    .perks{
      flex-direction: row;
    }
  }
  /*  mobile screen-medium res and below */
  /* @media (max-width: 376px) {
    .main-button{
      letter-spacing: normal;
    }
    .cottages-content img{
      height: 200px;
      width: 200px;
    }
    .contact-us{
      font-size: 25px;
    }
    .about-us{
      height: 70vh;
    }
    footer{
      height: 35vh;
    }
    .footer-items iframe{
      width: 250px;
      height: 150px;
    }
  } */
  @media (min-width: 381px) and (max-width: 768px) {
    .attractions-navbar{
      font-size: 28px;
    }
    .contact-us{
      font-size: 25px;
    }
    .perks img{
      width: 125px;
      height: 125px;
    }
    .cottages-items img{
      width: 300px;
      height: 300px;
    }
    .about-us{
      margin-bottom: 10px;
    }
    .about-items, .about-information{
      letter-spacing: 1.5px;
      font-size: 18px;
    }
    .about-items img{
      height: 20px;
      width: 20px;
    }
    .vlogs-content{
      margin: 0;
    }
    .vlogs-iframe{
      /* width=8 height=5 ratio multiple by 7 */
      width: 350px;
      height: 210px;
    }
    .vlogs-items{
      width: 350px;
      height: 250px;
    }
    .vlogs-items p{
      font-size: 13px;
      margin:  0;
      margin-bottom: 20px;
    }
    .footer-items iframe{
      width: 220px;
      height: 175px;
    }
  }
  @media (max-width: 380px) {
    .attractions-navbar, .cottages-navbar{
      font-size: 28px;
    }
    .attractions-content img{
      width: 250px;
      height: 250px;
    }
    .about-items, .about-information{
      letter-spacing: 1.5px;
      font-size: 15px;
    }
    .vlogs-content{
      margin: 0;
    }
    .vlogs-iframe{
      /* width=8 height=5 ratio multiple by 7 */
      width: 315px;
      height: 175px;
    }
    .vlogs-items{
      height: 200px;
      width: 310px;
    }
    .vlogs-items p{
      font-size: 13px;
      margin:  0;
      margin-bottom: 20px;
    }
    .footer{
      height: 60vh;
    }
    .footer-items iframe{
      width: 175px;
      height: 130px;
    }
    .rt-button{
      width: 40px;
      height: 40px;
    }
  }
  